<template>
  <div class="box">
    <div class="is-horizontal mt-1">
      <div class="column is-12 field-body">
        <div class="field control">
          <input type="text" class="input" v-model="division.name" placeholder="Name" :disabled="division.from_db">
        </div>
      </div>
      <div class="column is-12">
        <div v-if="division.from_db">
          <button class="button is-success" @click.prevent="viewDivision">View</button>
        </div>
        <div v-else>
          <button class="button is-success" @click.prevent="saveDivision">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {toast} from "bulma-toast";

export default {
  name: "Division",
  props: {
    initialDivision: Object,
  },
  data() {
    return {
      division: this.initialDivision,
    }
  },
  methods: {
    viewDivision() {
      this.$router.push(`/fair-division/details/?division=${this.division.id}`)
    },
    saveDivision() {
      if ('' === this.division.name) {
        toast({
          message: 'You need to fill the name',
          type: 'is-danger',
          dismissible: true,
          pauseOnHover: true,
          duration: 5000,
          position: 'center',
        })
        return
      }

      axios.post('divisions/', this.division)
          .then(() => {
            this.division.from_db = true
          })
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    }
  },
}
</script>

<style scoped>

</style>