<template>
  <div class="box is-center">
    <h3 class="is-size-4 mb-4">{{ result.number }}. {{ result.amount }}</h3>
  </div>
</template>

<script>
export default {
  name: "Result",
  props: {
    initialResult: Object,
  },
  data() {
    return {
      result: this.initialResult,
    }
  }
}
</script>

<style scoped>

</style>