<template>
  <div class="field is-horizontal mt-1">
    <div class="field-label is-normal">
      <label class="label">{{ wish.number }}.</label>
    </div>
    <div class="field-body">
      <div class="field control is-small">
        <input type="text" class="input" v-model="wish.amount" placeholder="Name" :disabled="wish.from_db">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Wish",
  props: {
    initialWish: Object,
  },
  data() {
    return {
      wish: this.initialWish,
    }
  }
}
</script>

<style scoped>

</style>