<template>
  <div class="page-pairs" v-if="pairs && pairs.length">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Pairs</h1>
      </div>
      <div
          class="column is-3"
          v-for="pair in pairs"
          :key="pair.name"
      >
        <Pair :initialPair="pair"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Pair from "@/components/marriage/Pair.vue";

export default {
  name: "Pairs",
  components: {Pair},
  data() {
    return {
      pairs: Array[Object]
    }
  },
  mounted() {
    this.getPairs()
  },
  methods: {
    getPairs() {
      axios.get(`pairs/?subset=${this.$route.params.subset}`)
          .then(response => this.pairs = response.data)
          .catch(error => JSON.stringify(error))
    }
  }
}
</script>

<style scoped>

</style>