<template>
  <div class="page-persons">
    <div class="column is-multiline">
      <div class="buttons">
        <div v-if="this.isAllPersonsSaved">
          <button class="button is-success ml-4" @click.prevent="savePreferences">Save preferences</button>
          <button class="button is-success ml-4" @click.prevent="preparePairs">Prepare pairs</button>

        </div>
        <div v-else>
          <button class="button is-success" @click.prevent="addTwoPersons">Add persons</button>
          <button class="button is-success ml-4" @click.prevent="savePersons">Save persons</button>
        </div>
      </div>
    </div>
    <div class="pairs" v-if="pairs">
      <div class="columns is-multiline">
        <div class="column is-12">
          <h1 class="title">Pairs</h1>
        </div>
        <div
            class="column is-3"
            v-for="pair in pairs"
            :key="pair.name"
        >
          <Pair :initialPair="pair"/>
        </div>
      </div>
    </div>
    <div v-if="persons && persons.length" class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Persons</h1>
      </div>
      <div
          class="column is-3"
          v-for="person in persons"
          :key="person.id"
      >
        <Person :initialPerson="person" :canAssignPreferences="this.isAllPersonsSaved"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {toast} from "bulma-toast";
import Person from "@/components/marriage/Person.vue";
import Pair from "@/components/marriage/Pair.vue";

export default {
  name: "Persons",
  components: {Pair, Person},
  data() {
    return {
      persons: Array[Object],
      pairs: Array[Object],
    }
  },
  mounted() {
    this.getPersons()
  },
  methods: {
    getPersons() {
      axios.get(`persons/?subset=${this.subset}`)
          .then(response => {
            this.persons = response.data
            if (this.persons.length) {
              for (let person of this.persons) {
                person.from_db = true
                for (let preference of person.preferences) {
                  preference.from_db = true
                }
              }
              this.updatePersonPreferences()
            }
          })
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
    addTwoPersons() {
      this.persons.unshift(
          {
            id: this.personsCount,
            name: '',
            gender: 'M',
            preferences: [],
            from_db: false,
            subset: this.subset
          },
          {
            id: ++this.personsCount,
            name: '',
            gender: 'F',
            preferences: [],
            from_db: false,
            subset: this.subset,
          }
      )
      this.updatePersonPreferences()
    },
    updatePersonPreferences() {
      for (let person of this.persons) {
        let lastPersonPreferencePlace = person.preferences.length
        let place = 0
        while (place < this.personsCount / 2) {
          ++place
          if (place <= lastPersonPreferencePlace) {
            continue
          }
          person.preferences.push(
              {
                whom_name: '',
                place: place,
                from_db: false,
              }
          )
        }
      }
    },
    savePersons() {
      for (let person of this.persons) {
        let copiedPerson = JSON.parse(JSON.stringify(person));
        delete copiedPerson.id
        delete copiedPerson.preferences
        delete copiedPerson.from_db
        if (person.from_db) {
          continue
        }
        if ('' === person.name) {
          toast({
            message: 'You need to fill the name',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          })
          continue
        }
        axios.post('persons/', copiedPerson)
            .then(() => {
              person.from_db = true
            })
            .catch(() => toast({
                  message: 'Error was occurred! Reload the page',
                  type: 'is-danger',
                  dismissible: true,
                  pauseOnHover: true,
                  duration: 5000,
                  position: 'center',
                })
            )
      }
    },
    savePreferences() {
      for (let person of this.persons) {
        for (let preference of person.preferences) {
          preference.who_name = person.name
          preference.subset = this.subset
          if (preference.from_db) {
            continue
          }
          if ('' === preference.whom_name) {
            toast({
              message: 'You need to fill the name',
              type: 'is-danger',
              dismissible: true,
              pauseOnHover: true,
              duration: 5000,
              position: 'center',
            })
            continue
          }

          if (this.namesForGender(person.gender).includes(preference.whom_name)) {
            axios.post('person_preferences/', preference)
                .then(() => {
                  preference.from_db = true
                })
                .catch(() => toast({
                  message: 'Error was occurred! Reload the page',
                  type: 'is-danger',
                  dismissible: true,
                  pauseOnHover: true,
                  duration: 5000,
                  position: 'center',
                }))
          } else {
            toast({
              message: `${preference.who_name} can't engaged on ${preference.whom_name}`,
              type: 'is-danger',
              dismissible: true,
              pauseOnHover: true,
              duration: 5000,
              position: 'center',
            })
          }
        }
      }
    },
    preparePairs() {
      axios.get(`subsets/${this.subset}/make`)
          .then(response => this.pairs = response.data)
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
    namesForGender(gender) {
      return this.persons.filter(p => p.gender === (gender === 'M' ? 'F' : 'M')).map(p => p.name)
    }
  },
  computed: {
    personsCount() {
      return this.persons.length
    },
    subset() {
      return Number(this.$route.query.subset)
    },
    isAllPersonsSaved() {
      if (this.persons) {
        return this.persons.length && !this.persons.filter(p => !p.from_db).length
      }
      return false
    },
  }
}
</script>

<style scoped>

</style>