<template>
  <div class="page-persons">
    <div class="column is-multiline">
      <button class="button is-success" @click.prevent="createSubset">Create subset</button>
    </div>
    <div v-if="subsets && subsets.length" class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Subsets</h1>
      </div>
      <div
          class="column is-5"
          v-for="subset in subsets"
          :key="subset.id"
      >
        <Subset :initialSubset="subset"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Subset from "@/components/marriage/Subset.vue";
import {toast} from "bulma-toast";

export default {
  name: "Subsets",
  components: {Subset},
  data() {
    return {
      subsets: [],
    }
  },
  mounted() {
    this.getSubsets()
  },
  methods: {
    getSubsets() {
      axios.get('subsets/')
          .then(response => {
            this.subsets = response.data
            for (let subset of this.subsets) {
              subset.from_db = true
            }
          })
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
    createSubset() {
      this.subsets.push({
        name: '',
        from_db: false,
        id: this.subsets.length + 1,
      })
    }
  }
}
</script>

<style scoped>

</style>