<template>
  <div class="page-persons">
    <div class="column is-multiline">
      <button class="button is-success" @click.prevent="createDivision">Create division</button>
    </div>
    <div v-if="divisions && divisions.length" class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Divisions</h1>
      </div>
      <div
          class="column is-5"
          v-for="division in divisions"
          :key="division.id"
      >
        <Division :initialDivision="division"/>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Division from "@/components/fairDivision/Division.vue";
import {toast} from "bulma-toast";

export default {
  name: "Divisions",
  components: {Division},
  data() {
    return {
      divisions: [],
    }
  },
  mounted() {
    this.getDivisions()
  },
  methods: {
    getDivisions() {
      axios.get('divisions/')
          .then(response => {
            this.divisions = response.data
            for (let division of this.divisions) {
              division.from_db = true
            }
          })
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
    createDivision() {
      this.divisions.push({
        name: '',
        from_db: false,
        id: this.divisions.length + 1,
      })
    }
  }
}
</script>

<style scoped>

</style>