<template>
  <div class="page-wishes">
    <div class="column is-multiline">
      <div class="buttons">
        <div v-if="this.isDivisionPrepared">
          <button class="button is-success" @click.prevent="makeDivision">Make division</button>
        </div>
        <div v-else>
          <button class="button is-success" @click.prevent="addWish">Add wish</button>
          <button class="button is-success ml-4" @click.prevent="prepareDivision">Prepare division</button>
        </div>

      </div>
    </div>
    <div class="columns is-multiline" v-if="results">
      <div class="column is-12">
        <h1 class="title">Results</h1>
      </div>
      <div
          class="column is-3"
          v-for="result in results"
          :key="result.number"
      >
        <Result :initialResult="result"/>
      </div>
    </div>
    <div class="column">
      <div class="column is-12">
        <h1 class="title">Full amount</h1>
      </div>
      <div class="is-horizontal mt-1">
        <div class="column is-12 field-body">
          <div class="field control">
            <input type="number" class="input" v-model="fullAmount.amount" placeholder="Amount"
                   :disabled="fullAmount.from_db">
          </div>
        </div>
      </div>
    </div>
    <div v-if="wishes && wishes.length" class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Wishes</h1>
      </div>
      <div
          class="column is-5"
          v-for="wish in wishes"
          :key="wish.id"
      >
        <Wish :initialWish="wish"/>
      </div>
    </div>
  </div>
</template>

<script>
import Wish from "@/components/fairDivision/Wish.vue";
import axios from "axios";
import {toast} from "bulma-toast";
import Result from "@/components/fairDivision/Result.vue";

export default {
  name: "DivisionDetails",
  components: {Result, Wish},
  data() {
    return {
      wishes: [],
      fullAmount: {
        amount: 0,
        division: this.division,
        from_db: false,
      },
      results: {},
    }
  },
  async mounted() {
    await this.getWishes()
    await this.getFullAmount()
  },
  methods: {
    async getWishes() {
      axios.get(`wishes/?division=${this.division}`)
          .then(response => {
            this.wishes = response.data
            for (let wish of this.wishes) {
              wish.from_db = true
            }
          })
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
    async getFullAmount() {
      axios.get(`full-amount/?division=${this.division}`)
          .then(response => {
            if (response.data.length) {
              this.fullAmount = response.data[0]
              this.fullAmount.from_db = true
            }
          })
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
    addWish() {
      this.wishes.push(
          {
            amount: 0,
            division: this.division,
            from_db: false,
            number: this.wishes.length + 1
          }
      )
    },
    prepareDivision() {
      if (this.fullAmount.amount > 0) {
        this.fullAmount.division = this.division
        axios.post(`full-amount/`, this.fullAmount)
            .then(() => this.fullAmount.from_db = true)
            .catch(() => toast({
                  message: 'Error was occurred! Reload the page',
                  type: 'is-danger',
                  dismissible: true,
                  pauseOnHover: true,
                  duration: 5000,
                  position: 'center',
                })
            )
      } else {
        toast({
          message: 'Full amount must be a positive number',
          type: 'is-danger',
          dismissible: true,
          pauseOnHover: true,
          duration: 5000,
          position: 'center',
        })
      }
      for (let wish of this.wishes) {
        if (wish.amount > 0 && !wish.from_db) {
          axios.post(`wishes/`, wish)
              .then(() => {
                wish.from_db = true
              })
              .catch(() => toast({
                message: 'Error was occurred! Reload the page',
                type: 'is-danger',
                dismissible: true,
                pauseOnHover: true,
                duration: 5000,
                position: 'center',
              }))
        } else {
          toast({
            message: `Wish amount ${wish.number} must be a positive number`,
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          })
        }
      }
    },
    makeDivision() {
      axios.get(`divisions/${this.division}/make/`)
          .then(response => this.results = response.data)
          .catch(() => toast({
            message: 'Error was occurred! Reload the page',
            type: 'is-danger',
            dismissible: true,
            pauseOnHover: true,
            duration: 5000,
            position: 'center',
          }))
    },
  },
  computed: {
    division() {
      return Number(this.$route.query.division)
    },
    isDivisionPrepared() {
      if (this.wishes) {
        return this.wishes.length && !this.wishes.filter(w => !w.from_db).length && this.fullAmount && this.fullAmount.amount > 0
      }
      return false
    },
  }
}
</script>

<style scoped>

</style>