<template>
  <div class="box">
    <h3 class="is-size-4 mb-4">{{ pair.name }} engaged {{ pair.engaged_name }}</h3>
  </div>
</template>

<script>
export default {
  name: "Pair",
  props: {
    initialPair: Object,
  },
  data() {
    return {
      pair: this.initialPair,
    }
  }
}
</script>

<style scoped>

</style>