<template>
  <div class="box">
    <div class="field is-horizontal mt-1">
      <div class="field-label is-normal">
        <label class="label">{{ person.gender }}</label>
      </div>
      <div class="field-body">
        <div class="field control is-small">
          <input type="text" class="input" v-model="person.name" placeholder="Name" :disabled="person.from_db">
        </div>
      </div>
    </div>
    <div v-if="canAssignPreferences">
      <h4 class="is-size-5 mb3" v-if="person.preferences && person.preferences.length">Preferences:</h4>
      <div v-for="preference in person.preferences" :key="preference.id">
        <Preference :initialPreference="preference"/>
      </div>
    </div>
  </div>
</template>

<script>
import Preference from "@/components/marriage/Preference.vue";

export default {
  name: "Person",
  components: {Preference},
  props: {
    initialPerson: Object,
    canAssignPreferences: false,
  },
  data() {
    return {
      person: this.initialPerson,
    }
  },
}
</script>

<style scoped>

</style>