<template>
  <div class="field is-horizontal mt-1">
    <div class="field-label is-normal">
      <label class="label">{{ preference.place }}.</label>
    </div>
    <div class="field-body">
      <div class="field control is-small">
        <input type="text" class="input" v-model="preference.whom_name" placeholder="Name" :disabled="preference.from_db">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Preference",
  props: {
    initialPreference: Object,
  },
  data() {
    return {
      preference: this.initialPreference,
    }
  }
}
</script>

<style scoped>

</style>