<template>
  <div class="box">
    <div class="is-horizontal mt-1">
      <div class="column is-12 field-body">
        <div class="field control">
          <input type="text" class="input" v-model="subset.name" placeholder="Name" :disabled="subset.from_db">
        </div>
      </div>
      <div class="column is-12">
        <div v-if="subset.from_db">
          <button class="button is-success" @click.prevent="viewSubset">View</button>
        </div>
        <div v-else>
          <button class="button is-success" @click.prevent="createSubset">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {toast} from "bulma-toast";

export default {
  name: "Subset",
  props: {
    initialSubset: Object,
  },
  data() {
    return {
      subset: this.initialSubset,
    }
  },
  methods: {
    viewSubset() {
      this.$router.push(`/marriage/persons/?subset=${this.subset.id}`)
    },
    createSubset() {
      axios.post('subsets/', this.subset)
          .then(() => {
            this.subset.from_db = true
          })
          .catch(() =>                 toast({
                  message: 'Error was occurred! Reload the page',
                  type: 'is-danger',
                  dismissible: true,
                  pauseOnHover: true,
                  duration: 5000,
                  position: 'center',
                }))
    }
  }
}
</script>

<style scoped>

</style>