<template>
  <div class="page-my-account">
    <h1 class="title">My account</h1>
    <div class="buttons">
      <button @click="logout" class="button is-danger">Log out</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {toast} from "bulma-toast";

export default {
  name: "MyAccount",
  methods: {
    logout() {
      axios
          .post('token/logout/')
          .then(
              () => {
                axios.defaults.headers.common['Authorization'] = ''
                localStorage.removeItem('token')
                this.$store.commit('removeToken')
                this.$router.push('/')

                toast({
                  message: 'You are logged out',
                  type: 'is-danger',
                  dismissible: true,
                  pauseOnHover: true,
                  duration: 1500,
                  position: 'center',
                })
              }
          )
          .catch(
              error => {
                if (error.response) {
                  let errors = error.response.data
                  for (const errorField in errors) {
                    this.errors.push(`${errorField}: ${errors[errorField]}`)
                  }
                }
              }
          )
    }
  }
}
</script>

<style scoped>

</style>