<template>
  <div id="wrapper">
    <header>
      <NavBar/>
    </header>
    <section class="section container">
      <div class="columns is-centered">
        <RouterView/>
      </div>
    </section>
    <footer class="footer">
      <p class="has-text-centered">Tataurov(c) 2022</p>
    </footer>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";

export default {
  name: 'App',
  components: {NavBar},
}
</script>

<style lang="scss">
@import "../node_modules/bulma";
</style>
