<template>
<div>
  On this website you can make marriages by Gale-Shapley algorithm or fair divisions
</div>
</template>

<script>
export default {
  name: "Home"
}
</script>

<style scoped>

</style>