<template>
  <div class="page-signup">
    <div class="columns">
      <div class="columns is-multiline">
        <div class="column is-12">
          <h1 class="title">Sign up</h1>
        </div>
        <div class="column">
          <form @submit.prevent="submitForm">
            <div class="field">
              <label>E-mail</label>
              <div class="control">
                <input type="email" name="username" class="input" v-model="formData.username">
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="control">
                <input type="password" name="password" class="input" v-model="formData.password">
              </div>
            </div>

            <div class="notification is-danger" v-if="errors.length">
              <div
                  v-for="error in errors"
                  v-bind:key="error"
              >
                {{ error }}
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-success">Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {toast} from "bulma-toast";

export default {
  name: "SignUp",
  data() {
    return {
      formData: {
        username: '',
        password: '',
      },
      errors: [],
    }
  },
  methods: {
    submitForm() {
      this.errors = []
      axios.post('users/', this.formData)
          .then(
              () => {
                this.$router.push('log-in')
                toast({
                  message: 'Your account was created',
                  type: 'is-success',
                  dismissible: true,
                  pauseOnHover: true,
                  duration: 1500,
                  position: 'center',
                })
              }
          )
          .catch(
              error => {
                if (error.response) {
                  let errors = error.response.data
                  for (const errorField in errors) {
                    this.errors.push(`${errorField}: ${errors[errorField]}`)
                  }
                }
              }
          )
    }
  }
}
</script>

<style scoped>

</style>